@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.travel-grid{
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
    column-gap: 10px;
    row-gap: 10px;
    height: 100vh;
    overflow: auto;
}
.travel-grid img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    overflow:auto;
}
.btn{
    font-family: 'Abril Fatface', cursive;
    width: 100px;
    height: 50px;
    border: none;
    color: #c4a35a;
    background-color: none;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #c4a35a;
    transition: ease-out 0.3s;
    font-size: 0.3s;
    font-size: 1rem;
    outline: none;
    border: 2px solid #c4a35a;    
}
.btn:hover{
    color: white;
    box-shadow: inset 100px 0 0 0 #c4a35a;
}
/*
    My colors
    Blue: #26485c
    Gold: #c4a35a
    White: #e5e5dc
    Orange: #c66b3d
*/
#form-wrapper{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 10px;
    background: #c66b3d; 
    margin: auto;
    width: 40%;
    padding: 40px;
    border: 3px solid white;
    box-shadow: 0 20px 20px black, 0px 0px 50px black;
}
#form-wrapper h1{
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #c4a35a;
    color: white; 
    padding: 5px;
    font-size: 30px;
}
#form-wrapper form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .txt-field{
    border-bottom: 2px solid #c4a35a;
    margin: 30px 0;
}

.txt-field label{
    color: #e5e5dc;
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 20px;
}
.myInput{
    padding: 15px;
}
.show-pics{
    background-color: #c66b3d;
    color: white;
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
.background
{
    padding: 35px;
    height: 80vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("images/userImageBackground.jpg");
}
.show-pics{
    padding: 30px;
}